.app-wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  color: var(--gooseberry-primary);
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--gooseberry-primary));
}

.margin {
  margin-top: 10vh;
}
