:root {
  --gooseberry-primary: rgb(252, 185, 0);
  --gooseberry-secondary: rgb(0, 168, 210);
  --gooseberry-light: whitesmoke;
  --gooseberry-dark: rgb(30, 30, 30);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--gooseberry-light);
  background-color: var(--gooseberry-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
