:root {
  --gooseberry-primary: rgb(252, 185, 0);
  --gooseberry-secondary: rgb(0, 168, 210);
  --gooseberry-light: whitesmoke;
  --gooseberry-dark: rgb(30, 30, 30);

  background-color: var(--gooseberry-dark);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
:root::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}
