:root {
  --gooseberry-primary: rgb(252, 185, 0);
  --gooseberry-secondary: rgb(0, 168, 210);
  --gooseberry-light: whitesmoke;
  --gooseberry-dark: rgb(30, 30, 30);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--gooseberry-light);
  background-color: var(--gooseberry-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--gooseberry-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--gooseberry-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gooseberry-dark);
    background-color: var(--gooseberry-light);
  }

  button {
    background-color: var(--gooseberry-light);
  }
}
